.contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    padding: 50px 24px 0;
    background: #00775F33;
    min-height: 70vh;
    position: relative;
}

.contact-form .text-contact{
    padding-top: 80px;
}


.contact-form .text-contact h2{
    color: #91918F;
    font-weight: 600;
}

.contact-form .text-contact h1{
    font-weight: 600;
    max-width: 300px;
    font-size: 2rem;
}

/*----------------- form -----------------*/

.contact-form form{
    position: absolute;
    top: 260px;
    background: #fff;
    border-radius: 14px;
    padding: 20px;
    width: 300px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2);
}

.contact-form form fieldset{
    border: none;
}

.contact-form form fieldset legend{
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
}

.contact-form form fieldset .dados{
    display: flex;
    flex-direction: column;
    margin: 12px 0;
}

.contact-form form fieldset .dados label{
    font-size: 1.2rem;
}

.contact-form form fieldset .dados label strong{
    color: #00775F;
}

.contact-form form fieldset .dados input{
    border: none;
    border-bottom: 2px solid #91918F;
    padding: 4px;
}

.contact-form form fieldset .dados textarea{
    padding: 8px;
    border: 2px solid #91918F;
    border-radius: 8px;
    resize: none;
}

.contact-form form fieldset .dados input:focus-visible, textarea:focus-visible {
    outline: #00775F auto 1px;
}

.contact-form form fieldset .dados #btnReset{
    border: none;
    background: transparent;
    color: #00775F;
    text-align: start;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.contact-form form fieldset .dados #btnEnviar{
    background: #00775F;
    color: #fff;
    width: 50%;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 16px;
}



/*----------------- contact info -----------------*/
.contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 380px 0 24px;
    gap: 16px;
}

.contact-info article{
    background: #003B30;
    padding: 24px 24px;
    border-radius: 8px;
}

.contact-info .info-top{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.contact-info .info-top img{
    width: 28px;
}

.contact-info .info-top h3{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.contact-info article p{
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 300;
}


/*----------------- medie querie 768px -----------------*/
@media (min-width: 768px) {
    .contact-form{
        justify-content: space-between;
        padding: 10% 15% 0;
        min-height: 350px;
    }

    .contact-form .text-contact h1{
        max-width: 320px;
        font-size: 2.4rem;
    }

    .contact-form form{
        right: 5%;
        top: 140px;
    }

    .contact-info{
        padding: 350px 0 24px;
    }
}


/*----------------- media querie 992px -----------------*/
@media (min-width: 992px) {
    .contact-form{
        justify-content: space-between;
        padding: 10% 200px 0;
        min-height: 350px;
    }

    .contact-form form{
        right: 300px;
        top: 140px;
        width: 350px;
        padding: 24px;
    }

    .contact-form .text-contact{
    padding-top: 40px;
}

    .contact-info{
        padding: 350px 0 24px;
    }
}